HTML, BODY {
  margin: 0;
}

BODY {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 10vh;
}

#layout-main {
  height: 90vh;
}

#layout-navigator {
}

.navbar {
  border-bottom: 1px black solid;
}

#layout-body {
}

#layout-content-panel {
  background: rgba(75, 49, 30, 0.75);
  border-radius: 25px;
  padding: 20px;
}

#layout-content {
  color: white;
}

#layout-footer {
  border-top: 1px solid black;
  height: 20px;
}

#layout-footer.bg-dark,
NAV.bg-dark {
  background-color: #4B311E !important;
}

#layout-footer A, #layout-footer A:visited, #layout-footer A:hover {
  color: white !important;
}
